/*header*/


* {
    font-family: 'Raleway', Arial, serif;
}

.main_width {
    width: 1057px;
    border: 1px solid green;
    margin: 0 auto;
}

header {
    background-color: black;
    color: #fff;
    height: 38px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    word-spacing: 2px;
    border: 1px solid red;
    padding-top: 9px;
}

.logo {
    float: left;
    font-weight: bold;
}

.logo > span:first-child{
    color: rgb(30, 188, 154);
    font-weight: bold;
    margin-left: -2px;
}

.logo > span:last-child {
    margin-left: 3px;
}

.menu {
    float: right;
}

.menu li {
    display: inline-block;
    color: #ffffff;
    margin-left: 25px;
    font-weight: bold;
}

li a {
    text-decoration: none;
    color: #ffffff;
}

.menu > li:first-child {
    word-spacing: -2px;
    margin-right: 22px;
}

.menu > li:nth-child(1){
    margin-left: 5px;
}

/*submenu*/

.submenu {
    position: absolute;
    width: 150px;
    right: 400px;
    padding-top: 20px;
    display: none;
    margin-top: 20px;
}

li:hover>.submenu>li {
    padding: 10px 10px 10px 10px;
}

li:hover>.submenu {
    display: block;
    background-color: black;
}

/*first section*/

.firstSection {
    height: 500px;
    background-image: linear-gradient(180deg, white, lightgrey);
}

.blackChair {
    width: 425px;
    height: 500px;
    background-image: url("./../images/black_chair.png");
    background-repeat: no-repeat;
    background-position: -47px 59px;
    background-size: 598px 438px;
    border: 1px solid cornflowerblue;
    float: left;
}

.firstText {
    width: 630px;
    height: 500px;
    border: 1px solid deeppink;
    float: left;
}

.firstText > p:first-child {
    margin-top: 131px;
    margin-left: 93px;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
}

.firstText > p:first-child > span:last-child {
    color: rgb(30, 188, 154);
    font-weight: bold;
}

.firstText > p:first-child > span:first-child {
    margin-left: -3px;
    color: rgb(30, 188, 154);
    font-weight: bold;
}

.firstSectionLongText {
    margin: 30px 151px 61px 79px;
    text-align: center;
    font-size: 15px;
    line-height: 21px;
    width: 372px;
}

.button {
    background-color: rgb(30, 188, 154);
    border: none;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-size: 22px;
    height: 50px;
    width: 265px;
    margin-top: -28px;
    margin-left: 147px;
    padding-top: 12px;
}

.button > a {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    width: 100px;
}

.button span:first-child {
    margin-left: 9px;
}

.button span:last-child {
    padding-left: 11px;
}

/*second section - gallery*/

.gallery {
    background-color: #ffffff;
    height: 352px;
    border: 1px solid saddlebrown;
}

.img1 {
    height: 351px;
    border: 1px solid blue;
    float: left;
    width: 330px;
    margin-right: 27px;

    background-image: url("./../images/box1_img.jpg");
    background-repeat: no-repeat;
    background-position: 0 28px;
    background-size: 329px 225px;
}

.img2 {
    height: 351px;
    border: 1px solid blue;
    float: left;
    width: 330px;
    margin-right: 20px;

    background-image: url("./../images/box2_img.jpg");
    background-repeat: no-repeat;
    background-position: 0 28px;
    background-size: 329px 225px;


}

.galleryText {
    height: 254px;
    border: 1px solid grey;
    float: right;
    width: 342px;
    margin-top: 29px;
}

.galleryText > p:first-child {
    margin-top: 27px;
    margin-left: 22px;
    border-bottom: 8px solid rgb(30, 188, 154);
    width: 137px;
    font-weight: bold;
}

.galleryText > p:last-child {
    margin-top: 15px;
    margin-left: 24px;
    margin-right: 22px;
    font-size: 14px;
    line-height: 20px;
}

.galleryText span {
    margin-top: 23px;
    display: block;
}

.chairClair {
    height: 63px;
    width: 329px;
    border: 1px solid deeppink;
    margin-top: 178px;
    background-color: rgba(235, 238, 231, 0.7);
}

.chairMargarita {
    height: 63px;
    width: 329px;
    border: 1px solid deeppink;
    margin-top: 178px;
    background-color: rgba(235, 238, 231, 0.7);
}

.chairClair > p {
    margin-top: 12px;
    margin-left: 15px;
    border-bottom: 8px solid rgb(30, 188, 154);
    width: 132px;
    font-weight: bold;
}

.chairMargarita > p {
    margin-top: 12px;
    margin-left: 12px;
    border-bottom: 8px solid rgb(30, 188, 154);
    width: 137px;
    font-weight: bold;
}

/*third section - pricelist*/

.priceList {
    background-color: lightgrey;
    height: 730px;
    border: 1px solid saddlebrown;
}

.priceList > div {
    height: 730px;
    border: 1px solid green;
}

.horizontalBox {
    margin-bottom: 30px;
    border: 1px solid purple;
    height: 82px;
    width: 320px;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
    padding-top: 42px;
    border-bottom: 8px solid rgb(30, 188, 154);
}

/*box 1*/

.box1 {
    float: left;
    width: 330px;
    height: 500px;
    border: 1px solid blue;
    margin-right: 29px;
    margin-top: 45px;
    position: relative;
}

.circle1 {
    height: 57px;
    width: 57px;
    position: absolute;
    left: 135px;
    top: -36px;
    border: 3px solid black;
    border-radius: 50%;
    background-color: whitesmoke;
}

.blackDot1 {
    position: relative;
    width: 25px;
    height: 25px;
    background-color: black;
    border-radius: 50%;
    top: 11px;
    left: 13px;
}

.boxHeader1 {
    margin-top: 27px;
    margin-left: 98px;
    font-size: 23px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(30, 188, 154);
}

.circle2 {
    height: 130px;
    width: 130px;
    position: relative;
    left: 99px;
    top: 27px;
    border: 3px solid black;
    border-radius: 50%;
    background-color: whitesmoke;
}

.circle2 > p > span:first-child {
    position: absolute;
    font-size: 47px;
    font-weight: bold;
    left: 30px;
    top: 23px;
}

.circle2 > p > span:nth-child(2) {
    position: absolute;
    font-size: 47px;
    font-weight: bold;
    left: 57px;
    top: 22px;
}

.circle2 > p > span:last-child {
    position: absolute;
    font-size: 16px;
    font-weight: bold;
    left: 82px;
    top: 25px;
}

.circle2 > p:nth-child(2) {
    position: absolute;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    left: 23px;
    top: 79px;
}

.box1 > div:nth-child(4) {
    position: absolute;
    font-size: 24px;
    font-weight: normal;
    left: 0;
    top: 247px;
    height: 44px;
    width: 329px;
    border: 1px solid green;
    padding-left: 41px;
    padding-top: 4px;
}

.box1 > div:nth-child(5) {
    position: absolute;
    font-size: 24px;
    font-weight: normal;
    left: 0;
    top: 290px;
    height: 44px;
    width: 329px;
    border: 1px solid green;
    padding-left: 126px;
    padding-top: 6px;
}

.buttonBox1 {
    position: absolute;
    background-color: rgb(30, 188, 154);
    border: none;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-size: 16px;
    height: 35px;
    width: 122px;
    margin-top: 492px;
    margin-left: 105px;
    padding-top: 9px;
    text-transform: uppercase;
}

.buttonBox1 a {
    text-decoration: none;
    color: white;
}


/*box2*/

.secondBox {
    float: left;
    width: 330px;
    height: 500px;
    border: 1px solid blue;
    margin-right: 15px;
    margin-top: 45px;
    position: relative;
}


.secondCircle1 {
    height: 57px;
    width: 57px;
    position: absolute;
    left: 137px;
    top: -36px;
    border: 3px solid black;
    border-radius: 50%;
    background-color: whitesmoke;
}

.secondBlackDot1 {
    position: relative;
    width: 25px;
    height: 25px;
    background-color: black;
    border-radius: 50%;
    top: 11px;
    left: 12px;
}

.secondBoxHeader1 {
    margin-top: 28px;
    margin-left: 74px;
    font-size: 23px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(30, 188, 154);
}

.secondCircle2 {
    height: 130px;
    width: 130px;
    position: relative;
    left: 102px;
    top: 26px;
    border: 3px solid black;
    border-radius: 50%;
    background-color: whitesmoke;
}

.secondCircle2 > p > span:first-child {
    position: absolute;
    font-size: 47px;
    font-weight: bold;
    left: 30px;
    top: 23px;
}

.secondCircle2 > p > span:nth-child(2) {
    position: absolute;
    font-size: 47px;
    font-weight: bold;
    left: 57px;
    top: 22px;
}

.secondCircle2 > p > span:last-child {
    position: absolute;
    font-size: 16px;
    font-weight: bold;
    left: 82px;
    top: 25px;
}

.secondCircle2 > p:nth-child(2) {
    position: absolute;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    left: 23px;
    top: 79px;
}

.secondBox > div:nth-child(4) {
    position: absolute;
    font-size: 24px;
    font-weight: normal;
    left: 0;
    top: 243px;
    height: 48px;
    width: 329px;
    border: 1px solid green;
    padding-left: 44px;
    padding-top: 7px;
}

.secondBox > div:nth-child(5) {
    position: absolute;
    font-size: 24px;
    font-weight: normal;
    left: 0;
    top: 290px;
    height: 44px;
    width: 329px;
    border: 1px solid green;
    padding-left: 129px;
    padding-top: 6px;
}

.secondBox > div:nth-child(6) {
    position: absolute;
    font-size: 24px;
    font-weight: normal;
    left: 0;
    top: 333px;
    height: 48px;
    width: 329px;
    border: 1px solid green;
    padding-left: 83px;
    padding-top: 10px;
}

.secondButtonBox1 {
    position: absolute;
    background-color: rgb(30, 188, 154);
    border: none;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-size: 16px;
    height: 35px;
    width: 122px;
    margin-top: 494px;
    margin-left: 465px;
    padding-top: 9px;
    text-transform: uppercase;
}

.secondButtonBox1 a {
    text-decoration: none;
    color: white;
}


/*box3*/

.thirdBox {
    float: right;
    width: 330px;
    height: 500px;
    border: 1px solid blue;
    margin-right: 5px;
    margin-top: 45px;
    position: relative;
}


.thirdCircle1 {
    height: 57px;
    width: 57px;
    position: absolute;
    left: 137px;
    top: -36px;
    border: 3px solid black;
    border-radius: 50%;
    background-color: whitesmoke;
}

.thirdBlackDot1 {
    position: relative;
    width: 25px;
    height: 25px;
    background-color: black;
    border-radius: 50%;
    top: 12px;
    left: 13px;
}

.thirdBoxHeader1 {
    margin-top: 28px;
    margin-left: 74px;
    font-size: 23px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(30, 188, 154);
}

.thirdCircle2 {
    height: 130px;
    width: 130px;
    position: relative;
    left: 102px;
    top: 26px;
    border: 3px solid black;
    border-radius: 50%;
    background-color: whitesmoke;
}

.thirdCircle2 > p > span:first-child {
    position: absolute;
    font-size: 47px;
    font-weight: bold;
    left: 10px;
    top: 22px;
}

.thirdCircle2 > p > span:last-child {
    position: absolute;
    font-size: 16px;
    font-weight: bold;
    left: 79px;
    top: 26px;
}

.thirdCircle2 > p:nth-child(2) {
    position: absolute;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    left: 23px;
    top: 79px;
}

.thirdBox > div:nth-child(4) {
    position: absolute;
    font-size: 24px;
    font-weight: normal;
    left: 0;
    top: 243px;
    height: 48px;
    width: 329px;
    border: 1px solid green;
    padding-left: 44px;
    padding-top: 7px;
}

.thirdBox > div:nth-child(5) {
    position: absolute;
    font-size: 24px;
    font-weight: normal;
    left: 0;
    top: 290px;
    height: 44px;
    width: 329px;
    border: 1px solid green;
    padding-left: 128px;
    padding-top: 5px;
}

.thirdBox > div:nth-child(6) {
    position: absolute;
    font-size: 24px;
    font-weight: normal;
    left: 0;
    top: 333px;
    height: 48px;
    width: 329px;
    border: 1px solid green;
    padding-left: 86px;
    padding-top: 5px;
}

.thirdBox > div:nth-child(7) {
    position: absolute;
    font-size: 24px;
    font-weight: normal;
    left: 0;
    top: 380px;
    height: 48px;
    width: 329px;
    border: 1px solid green;
    padding-left: 63px;
    padding-top: 4px;
}

.thirdButtonBox1 {
    position: absolute;
    background-color: rgb(30, 188, 154);
    border: none;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-size: 16px;
    height: 35px;
    width: 122px;
    margin-top: 491px;
    margin-left: 826px;
    padding-top: 8px;
    text-transform: uppercase;
}

.thirdButtonBox1 a {
    text-decoration: none;
    color: white;
}




